[submodule "modules/EasyOpenCV"]
	path = modules/EasyOpenCV
	url = https://github.com/wangxdflight/EasyOpenCV.git
[submodule "modules/DogeCV"]
	path = modules/DogeCV
	url = https://github.com/wangxdflight/DogeCV.git
